*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
}
.encabezado {
    align-items: center;
    padding: .5rem;
    background-color: rgb(70, 66, 66);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.encabezado h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
.logo{
        color:  rgb(243, 240, 240);
}
.logo:hover{
    color: none;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 2rem;
    gap: 2rem;/*separacion entre cada elemento de la caja*/
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.navbar ul li a:hover{
    color: #979292;
}
.presentacion{
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;
}
.quienes-somos h2{
    margin: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(124, 138, 90, 0.473);
    border-radius: 0.5rem;
    
}

.__titulo{
    color: white;
    animation-duration: 2s;
    animation-name: aparecer;
}

@keyframes aparecer{
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
.parrafo p{
    color: rgb(161, 158, 158);
    padding-top: 10rem;
    padding-bottom: 12rem;
    font-size: 1.5rem;
    text-align: center;
}


.equipos{
    display: flex;
    flex-direction: column;
    background-image: url(/imagenes/fondo-equipo.png);
    background-color: rgba(8, 3, 3, 0.767);
    background-repeat: no-repeat;
    background-size: cover;
}
.equipos h2{
    margin: 0.5rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    background-color: #7c8a5a79;
    border-radius: 0.5rem;
}
.contenedor-equipos{
    background-color: none    ;  
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    margin: 2rem;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.card-equipo{
    display: flex;
    flex-direction: row;

    gap: 2rem;
}

.card-equipo img{
    width: 10rem;
    margin: 1rem;
      
}

/* .card-equipo img:hover{
    transition: all 1s;
} */

.descripcion-equipo ul li{
    color: #979292;
    font-size: medium;
    padding: 15px;
}




.seccion-staff{
    display: flex;
    flex-direction: column;
    background-image: url(/imagenes/fondo-equipo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.seccion-staff h2{
    margin: 0.5rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    background-color: #7c8a5a79;
    border-radius: 0.5rem;
}
.contenedor-staff{
    background-color: none    ;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.card{
    opacity: 0.6;
    transition: all 1s;
    width: 15rem;
}
.card:hover{
    opacity: 1;
}
.card img{
    width: 15rem;
}
.descripcion h3, p{
    color: white;
    font-size: small;
    text-align: center;
}
.proyectos{
    background-color: none;
    display: flex;
    flex-direction: column;
    background-image: url(/imagenes/fondo-equipo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.proyectos h1{
    margin: 0.5rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    background-color: rgba(124, 138, 90, 0.473);
    border-radius: 0.5rem;
}
.proyectos-videos{
    opacity: 0.5;
    margin: 5px;
    border-color: rgb(238, 230, 230);
    border-style: solid;
    border-width: 0.5rem;
    
}
.proyectos-videos:hover{
    opacity: 1;
    transition: all 1s;
    transform: scale(1.1, 1.1);
}
.contenedor-proyectos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.contacto{
    background-image: url(/imagenes/fondo-equipo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.contacto h1{
    margin: 0.5rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    background-color: rgba(124, 138, 90, 0.473);
    border-radius: 0.5rem;
    
    
}

.espacio-contenedor{
    padding-top: 8rem;
    padding-bottom: 8rem;
}


.contenedor-form{
    padding: 50px;
    margin: auto;
    width: 400px;
    background-color: rgba(83, 30, 30, 0.63);
    border-radius: 5px;
    color: white;
}

.contenedor-form h3{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;

}
.datos-form{
    background: rgb(207, 204, 204);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: solid 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contenedor-form .boton{
    width: 5rem;
    padding: 0.4rem;
    border-radius: 5px;
    margin-bottom: 16px;
    border: solid 1px rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

::placeholder{
    color: rgba(116, 70, 70, 0.63);
}



.redes{
    display: flex;
    background-color: rgba(31, 29, 29, 0.26);
    border-style: solid;
    border-color: rgba(124, 138, 90, 0.473);
    border-width: 1px;
   
}
.iconos img{
    width: 2rem;
    opacity: 0.5;
}
.iconos img:hover{
    opacity: 1;
    transition: 0.5s;
}
.iconos{
    margin: 15px;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
}
.descripcion-logo h3{
    color: rgb(245, 240, 240);
    opacity: 0.8;
    font-size: 0.8rem;
    margin: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
